/*variables
:root{
  --ui-light-blue: var(--ui-light-blue);
  --ui-black: #1f1f1f;
  --ui-grey: #2f2f2f;
  --ui-siman-red: #a73a42;
  --ui-white: #fee;
}*/

body, html {
    
    background-color: var(--ui-black);
    margin: 0;
    padding: 0;
  }

a {
    all: unset; 
    cursor: pointer;
}

header {
    position: relative;
    width: 100%;
}


#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: var(--ui-blue);
    display: flex;
    align-items: center;
    padding: 0 20px; /* Ajusta el padding según necesites */
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease;
    
  }
  
  .navbar-content {
    display: flex;
    width: 100%;
    max-width: 1200px; /* Ajusta el ancho máximo según lo necesites */
    margin: 0 auto; /* Centra el contenido dentro del navbar */
    align-items: center; /* Alinea verticalmente los elementos */
    position: relative; /* Permite a los elementos internos usar position absolute */
  }
  
  .brand-name {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center; /* Centra el texto dentro del espacio */
    flex: 1; /* Ocupa el espacio disponible */
    margin-right: 10%;
    font-family: "Pacifico", cursive;
    color: var(--ui-white)
  }
  
  .nav-icons {
    display: flex;
    gap: 15px; /* Espacio entre los íconos */
    position: absolute; /* Permite colocar los íconos en una posición específica */
    right: 20px; /* Ajusta la distancia desde el borde derecho del navbar */
  }
  
  .nav-icons .icon {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre el texto y el ícono */
  }

  .nav-icons .icon span{
    font-size: 250%; /* Ajusta el tamaño de los íconos */
    opacity: 0.7; /* Fondo transparente para los íconos */
    transition: opacity 0.3s ease;
    color: var(--ui-white);
  }
  
  .nav-icons .icon span:hover {
    opacity: 1; /* Cambia la opacidad en hover si deseas */
  }
  

.hero-image {
    background-image: url('../img/placeholder.webp');
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text h1 {
    font-size: 15rem;
    color: #2c51ca;
    text-transform: uppercase;
    margin: 0;
    transition: opacity 0.2s ease;  /* cambiale esto para la velo */
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
}

main {
    padding: 20px;
}



/* Menú de 3x3 puntitos */
.menu-icon {
  display: grid;
  grid-template-columns: repeat(3, 6px); /* Tamaño más pequeño */
  grid-template-rows: repeat(3, 6px);
  gap: 6px;
  cursor: pointer;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.dot {
  width: 6px; /* Tamaño más pequeño */
  height: 6px;
  background-color: rgba(255, 255, 255, 0.7); /* Color más suave */
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.menu-icon:hover .dot {
  background-color: rgba(255, 255, 255, 1);
}

/* Efecto al hacer click */
.menu-icon:active .dot {
  transform: scale(0.8); /* Sutil efecto de encogimiento */
  background-color: #1f3eaa; /* Cambia a azul al hacer click */
}
#toggleMenu{
  z-index: 10;
  transition: 0.1s linear;
}

/* Estilos del nuevo menú */
/* .nav-icons.new-icons {
  display: none;
  position: absolute;
  right: -100%;
  transition: right 0.4s ease;
} */
.nav-icons.new-icons {
  display: none;
  position: fixed;
  right: -100%;
  /*transition: right 0.4s ease;*/
  transition: 0.3s linear;
}

.nav-icons .original-icons {
  position: absolute;
  right: 0;
  /*transition: right 0.4s ease;*/
  transition: 0.3s linear;
}

.nav-icons.slide-out {
  right: 0;
  left: 0;
}

.nav-icons.slide-in {
  right: -100%;
}


/* Estilos minimalistas para las opciones */
.nav-icons a {
  color: var(--ui-white);
  font-size: 18px;
  
  padding: 10px;
  background-color: transparent;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
  text-decoration: none;
}

.nav-icons a:hover {
  border-bottom: 2px solid white;
}



/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    #navbar {
      padding: 0 10px; /* Ajusta el padding si es necesario */
    }
  
    .navbar-content {
      max-width: 100%; /* Asegúrate de que el contenido use todo el ancho disponible */
      margin: 0; /* Elimina el margen automático para centrar el contenido */
    }
  
    .brand-name {
      font-size: 20px;
      margin-right: 12%;      
    }
  
    .nav-icons {
      gap: 1px; /* Ajusta el espacio entre los íconos si es necesario */
    }
    .nav-icons.new-icons {
      
      border-bottom: 1px solid rgba(255, 255, 255, 0.3); 
      top: 60px;
      background: rgba(55, 96, 199, 0.384); /* Fondo translúcido */
      backdrop-filter: blur(10px); /* Desenfoque del fondo */
    }
    .nav-icons.new-icons a{
      font-size: 20px;
      
    }
    .nav-icons.new-icons a:first-child {
      margin-left: 5px; /* Ajusta según el espacio necesario */
    }
  }
  



