@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Croissant+One&family=Pacifico&&display=swap');

/*variables*/
:root{
  --ui-light-blue: #7199fd;
  --ui-blue: #1f3eaa;
  --ui-black: #1f1f1f;
  --ui-grey: #2f2f2f;
  --ui-siman-red: rgb(90, 31, 35);
  --ui-white: #fee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total de los elementos */
}
html{
  /* font-family: "Croissant One", system-ui; */
  font-family: 'satisfy', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
}

figure {
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  width: 100%;
  height: 300px;
  margin: 10px auto;
  overflow: hidden;
  border-radius: 10px;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;/*  no se c tan bien haha */
  
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;

  width: 100%;
  height: 20rem !important;
  max-width: 1500px;
  border-radius: 15px;
  
}

.carousel-item {
  min-width: 100%;
  transition: transform 0.5s ease;
}
@media (max-width: 1024px) {
  .carousel {
    width: 100%; /* O ajusta el valor según lo que necesites */
    height: 300px; /* Aumenta la altura para pantallas grandes */
  }

  .carousel-container {
    height: 25rem; /* Aumenta la altura para pantallas grandes */
  }
}


/* estilo pa los controles  
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
  } 
  
  .carousel-control.prev {
    left: 10px;
  }
  
  .carousel-control.next {
    right: 10px;
  }
  
  .carousel-control:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  */




/* Categorias */
.categories-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  
  padding: 20px 0;
  width: 95%;
  flex-wrap: wrap; /* Permitir que los círculos se ajusten en líneas */
  gap: 20px; /* Espacio entre los círculos */
  
}

.category-circle {
  position: relative;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ui-black);
}

.category-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: filter 0.3s ease;
}

.category-circle span {
  position: absolute;
  color: var(--ui-white);
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.category-circle:hover img {
  filter: grayscale(100%);
  opacity: 0.3;
}

.category-circle:hover span {
  opacity: 1;
}


  /* Cuerpo */


  .dashboard {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Seis columnas iguales */
  gap: 20px; /* Espacio entre las cajas */
  color: var(--ui-white);
}

.dashboard-item {
  /* background-color: #2f2f2f; */
  background-color: #2f2f2f;
  background-color: var(--ui-light-blue);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.dashboard-item.small {
  grid-column: span 3; /* Ocupa 3 columnas (la mitad del grid) */
  grid-row: span 2;    /* Ocupa 1 fila, cambio papa*/
  
}

.dashboard-item.medium {
  grid-column: span 4; /* Ocupa 4 columnas */
  grid-row: span 2;    /* Ocupa 2 filas */
}

.dashboard-item.large {
  grid-column: span 6; /* Ocupa 6 columnas (todo el grid) */
  grid-row: span 3;    /* Ocupa 3 filas */
}



.figureimg {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
}

.figureimg img {
  width: 100%; 
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}


.message{
  color: var(--ui-white);
}

/* Media Queries para Responsividad */

/* Pantallas medianas (tablets, pantallas pequeñas) */
@media (max-width: 992px) {
  .dashboard {
    grid-template-columns: repeat(4, 1fr); /* Cuatro columnas iguales */
  }

  .dashboard-item.small {
    grid-column: span 2; /* Ocupa 2 columnas (la mitad del grid) */
  }

  .dashboard-item.medium {
    grid-column: span 3; /* Ocupa 3 columnas */
  }

  .dashboard-item.large {
    grid-column: span 4; /* Ocupa 4 columnas (todo el grid) */
  }
  .dashboard-item {
    padding: 15px;
  }
}

/* Pantallas pequeñas (móviles, pantallas muy pequeñas) */
@media (max-width: 576px) {
  .dashboard {
    grid-template-columns: repeat(2, 1fr); /* Dos columnas iguales */
  }

  .dashboard-item.small {
    grid-column: span 1; /* Ocupa 1 columna (la mitad del grid) */
    height: 200px;
  }

  .dashboard-item.medium, 
  .dashboard-item.large {
    grid-column: span 2; /* Ocupa 2 columnas (todo el grid) */
  }
  .dashboard-item {
    padding: 8px;
  }

}

